body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.tabs-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: burlywood;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: blanchedalmond;
    display: inline-block;
}

.tab:hover {
    background-color: #eaeaea;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.tab-content h2 {
    margin-top: 0;
}